/* @author Sonya Patel */
/* @author Sonya Patel */
* {
  box-sizing: border-box;
}

body {
  background: #edeff0;
  font-family: 'Hind', sans-serif;
}

.title {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btns {
 text-align: center;
 
}

#textBtn {
  /* border-radius: 40px; */
  background-color: purple; 
  border: double;
  color: white;
  padding: 15px 255px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fakeCall {
  /* border-radius: 40px; */
  background-color: purple; /* Green */
  border: double;
  color: white;
  padding: 15px 280px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#fakeCall a {
  color:white;
}


#locationTracker {
  /* border-radius: 40px; */
  background-color: purple; /* Green */
  border: double;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#locationTracker a {
  color: white;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 0;
  right:0;
  bottom:0;
  margin-top: 6em;
  width: 100%;
  text-align: center;
  line-height: 3rem;
  color: white;
  background-color: black;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
}
